@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

body {
  margin: 0; /* Elimina el margen predeterminado del body */
  font-family: Arial, sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Color de fondo */
  color: white; /* Color del texto */
  text-align: center; /* Centrar el contenido */
  padding: 10px;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

html{
  position:relative;
  min-height:100%;
}

main{
  margin-top: 0;
  margin-bottom: 70px;  
}

.hero-scene{
  position:relative;
  padding-top: 50px;
  padding-bottom: 55px;
  &::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url('/images/fondo-textura.jpg');
    background-size: cover;
    filter: brightness(0.3);
}
*{
  //positioner les éléments devant le :: before
  position: relative;
}
.hero.scene-content{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}
}

image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  color: white;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 0 black, /* Sombra del texto para simular el borde */
                         -1px -1px 0 black,
                         1px -1px 0 black,
                         -1px 1px 0 black;
}

.img-filter {
  filter: brightness(0.6);
}

header {
  margin-bottom: 0; /* Elimina el margen inferior del header */
}
.margen-negativo {
  margin-top: -120px;
}

.form-label{
  color:$primary;
}


  .image-card{
    position:relative;
    &:hover{
      .titre-image{
        opacity: 1;
        }
        img{
          filter: brightness(0.3);
          width: 100%;
          height: 100%;
        }
    }
    img{
        transition: all 0.3s;
    }
    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
        width: 100%;
        height: 100%;
    }
}
